<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora de Días</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha Inicio</ion-label>
    <ion-datetime [(ngModel)]="fechaInicio" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Fecha Fin</ion-label>
    <ion-datetime [(ngModel)]="fechaFin" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>
  <ion-button expand="full" (click)="calcularDias()">Calcular Días</ion-button>
  <ion-label>Días entre fechas: {{ dias }}</ion-label>
</ion-content>
