<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Fechas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Fechas</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-grid>
        <ion-col>
          <ion-row>

            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
            
          </ion-row>

          <ion-row>

            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>

          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-content>

  </ion-content>