<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Texto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Guardar Texto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Texto a Guardar</ion-label>
    <ion-textarea [(ngModel)]="texto"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="guardarTexto()">Guardar</ion-button>
  <ion-button expand="full" (click)="cargarTexto()">Cargar</ion-button>
</ion-content>
